[Unit]
Description=user interface
After=multi-user.target vault-pin.service vault.service

[Service]
Environment="QT_QPA_EGLFS_ROTATION=-90"
Environment="QT_QPA_FONTDIR=/usr/share/fonts/dejavu/"
WorkingDirectory=/tmp
KillMode=process
ExecStartPre=/bin/sh -c 'if [ -e /tmp/rx-key-presentage ]; then rm /tmp/rx-key-presentage; fi'
ExecStartPre=/bin/sh -c 'if [ -e /tmp/tx-key-presentage ]; then rm /tmp/tx-key-presentage; fi'
ExecStartPre=mkfifo /tmp/tx-key-presentage /tmp/rx-key-presentage
# ExecStartPre=/sbin/modprobe mipi_dsi
ExecStart=/bin/qt-widget-thirdtake
Restart=always
RestartSec=1
TimeoutStartSec=5

[Install]
WantedBy=multi-user.target

