[Unit]
Description=vault
After=multi-user.target vault-pin.service
Before=dpinger.service peer0.service peer0.service peer1.service peer2.service peer3.service peer4.service peer5.service telemetryclient.service telemetryserver.service ui.service

[Service]
WorkingDirectory=/tmp
Type=oneshot
ExecStartPre=mkdir /tmp/vault
ExecStart=mount /dev/mapper/volume1 /tmp/vault

[Install]
WantedBy=multi-user.target
